<section>
    <h3>Información</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi possimus dolore velit expedita ipsa nemo iste illo totam nam saepe earum quod culpa quisquam tempore perferendis neque, veniam aperiam est!</p>
    <h5>Sobre nuestros permisos de acceso</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, veritatis! Cupiditate totam provident officia similique, tempora perferendis maxime nisi minima adipisci aperiam aliquam dolor consequuntur autem et accusantium eius. Deserunt delectus fugit molestiae optio quia exercitationem, ipsam dolore minus fugiat blanditiis illum facilis voluptatum, quos quaerat. Accusamus eius quas quo tenetur repellat recusandae laudantium, debitis quibusdam mollitia voluptatem eveniet harum libero numquam adipisci quod. Sit ducimus optio ipsum laudantium, nobis quae unde rem facilis labore cupiditate at, alias nihil possimus quos error hic quaerat cumque odit nam aliquam officia a dicta! Excepturi, ea delectus aliquam voluptatum doloribus praesentium! Amet, obcaecati.</p>
    <div class="cont">
        <img src="https://placeimg.com/640/480/tech/grayscale" alt="">
        <img src="https://placeimg.com/640/480/tech" alt="">
    </div>
    <button>Obtener mas info</button>

</section>