<section>
    <h3>Noticias</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reiciendis corrupti dolor fugiat recusandae aliquid est tenetur! Facere, repellat inventore quisquam laboriosam exercitationem alias provident quaerat in ea ad molestiae voluptatibus blanditiis quas id soluta explicabo adipisci tenetur laudantium modi nulla illum possimus rerum. Quidem vero a placeat aut magni.
    </p>
    <h5>Categorias de noticias</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure labore impedit, aliquam a fugiat animi sunt itaque dolorem nemo cum laborum ratione atque totam inventore dicta, natus veniam perspiciatis adipisci. Eligendi, deleniti suscipit.</p>
    <div class="cont">
        <img src="https://placeimg.com/640/480/arch" alt="">
        <img src="https://placeimg.com/640/480/arch/sepia" alt="">
    </div>
    <button>Cargar nuevos post</button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus velit, assumenda cumque et quod molestiae. Numquam expedita possimus reiciendis placeat exercitationem consequatur esse, voluptas nostrum optio corrupti illo quo accusamus ratione architecto eius dicta eveniet ipsum nobis odit, maiores nam itaque repellendus? Inventore adipisci cum assumenda quaerat officia ut dolores!</p>
</section>