<section>
    <h3>Perfil y configuraciones</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis mollitia, eveniet dolorum voluptate dolor,
        impedit possimus praesentium quod libero voluptas, a autem blanditiis architecto enim suscipit recusandae.
        Veritatis, quod?</p>
    <h5>Revisar Configuraciones y permisos</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima rerum commodi, tempora quibusdam reiciendis enim
        nesciunt sunt amet quasi, expedita aperiam maiores obcaecati asperiores, labore eveniet deserunt minus ab
        exercitationem eaque doloremque ipsum? Dolorum itaque libero iure ab quasi quo adipisci excepturi repellat
        doloribus delectus, ducimus omnis praesentium, sapiente voluptatibus, eius numquam ipsa consectetur deleniti.
    </p>

    <div class="cont">
        <img src="https://placeimg.com/640/480/animals" alt="">

    </div>
    <button>Ver configuraciones</button>
</section>